${header()}
<section class="cv">
  <dl>
$for(main-dates)$
    <dt>$it.year$</dt>
    <dd>$it.description$</dd>
$endfor$
  </dl>
</section>
<section class="cv">
  <h2>Arbeitsbereich</h2>
  <ul>
$for(work-areas)$
    <li>$it$</li>
$endfor$
  </ul>
</section>
<section class="cv">
  <h2>Ausstellungen (Auswahl)</h2>
  <dl>
$for(exhibitions)$
    <dt>$it.year$</dt>
    <dd>$it.description$</dd>
$endfor$
  </dl>
</section>
<section class="cv">
  <h2>Förderungen und Ankäufe</h2>
  <dl>
$for(funding)$
    <dt>$it.year$</dt>
    <dd>$it.description$</dd>
$endfor$
  </dl>
</section>
${footer()}
