${header()}
  <section class="contact">
  <ul id="address" vocab="http://schema.org/" typeof="Person">
    <li property="name">$name$</li>
    <div property="address" typeof="PostalAddress">
      <li property="streetAddress">$street$</li>
      <li><span property="postalCode">$zipcode$</span>
        <span property="addressLocality">$town$</span></li>
    </div>
    <li property="telephone">$phone$</li>
    <li>$mobile$</li>
    <script type='text/javascript'>var a = new Array('n.ch','l.roth@','claudia.','bluewi');document.write('<li><a href="mailto:'+a[2]+a[1]+a[3]+a[0]+'" property="email">'+a[2]+a[1]+a[3]+a[0]+'</a></li>');</script>
  </ul>
  <p><a href="http://claudiaroth.ch">claudiaroth.ch</a> | <a href="http://h95.ch">h95.ch</a></p>
</section>
${footer()}
