${header()}

<div class="titled-area overview">
  <div class="title">
    <h2>$title$</h2>
$if(info)$
    <p>$info$</p>
$endif$
  </div>
$if(images)$
  <ul>
$for(images)$
    <li><a href="/werke/$slug$/$it.index$">
      <img src="/img/$it.file$-154.jpg" />
    </a></li>
$endfor$
  </ul>
$else$
  <div class="image">
    <img src="/img/$file$-520.jpg" />
  </div>
$endif$
</div>

${footer()}
