${header()}

<nav>
  <ul>
    <li><a href="/werke/$slug$">Übersicht</a></li>
$for(images)$
    <li$if(it.current)$ class="active"$endif$><a href="/werke/$slug$/$it.index$">$it.index$</a></li>
$endfor$
  </ul>
</nav>

$for(images)$$if(it.current)$
<div class="titled-area">
  <div class="title">
    <h2>$title$</h2>
    <p>$it.info$</p>
  </div>
  <div class="image">
    <img src="/img/$it.file$-520.jpg" />
  </div>
</div>
$endif$$endfor$

${footer()}
