${header()}

<div class="overview">
  <ul>
$for(works)$
    <li><a href="/werke/$it.slug$">
      <img src="/img/$it.thumbnail$-154.jpg" />
      <p>$it.title$</p>
$if(it.count)$
      <p>$it.count$ Bilder</p>
$endif$
    </a></li>
$endfor$
  </ul>
</div>

${footer()}
