@import "normalize";

/*! HTML5 Boilerplate v5.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */


@mixin clearfix {
  &:before, &:after {
    content:" "; /* 1 */
    display:table; /* 2 */
  }
  &:after {
    clear:both;
  }
}

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   Custom styles
   ========================================================================== */

$font-family:"Slate W01","Arial",sans-serif;
$color-regular:#555;
$color-link:#888;
$color-highlight:#aaa;

$margin-small:1rem;
$margin-large:2rem;
$col1:18rem;
$col2:9rem;
$col3:6rem;
$height-title:4rem;
$padding-nav:0.5rem;
$padding-imgnav:1rem;
$padding-works:$margin-large;

body {
  @include clearfix;
  font-family:$font-family;
  min-width:1rem/16*300;
  max-width:1rem/16*1200;
  margin:1rem auto;
  color:$color-regular;
}

h2 {
  font-weight:500;
  font-size:inherit;
  margin:1rem 0;
}

a {
  color:$color-link;
  &:hover {
    color:$color-highlight;
  }
}

img {
  display:block;
  max-width:100%;
}

nav {
  ul {
    @include clearfix;
    margin:0;
    padding:0;
    list-style-type:none;
  }
  li {
    float:left;
    margin:0;
  }
}

// Header with navigation

body>header {
  @include clearfix;
  margin:2rem ($margin-small - $padding-nav);
  h1 {
    margin:0;
  }
  a {
    display:block;
    padding:$padding-nav;
    font-size:1.125rem;
    text-transform:uppercase;
    letter-spacing:3px;
    font-weight:500;
    text-decoration:none;
  }
  h1 a {
    color:$color-regular;
  }
  li a {
    padding-right:1.5rem;
  }
  li.active a {
    color:$color-highlight;
  }
}

body>header h1.favicon a {
  color:#b92e1b;
  letter-spacing:0;
  font-size:2.25rem;
}

// Main content area with image

main {
  margin:0 $margin-small;
}

main nav {
  ul {
    margin:0 (-$padding-imgnav);
  }
  a {
    display:block;
    padding:0.5*$padding-imgnav $padding-imgnav;
    font-size:1rem/16*14;
    text-decoration:none;
  }
  li.active a, a:hover {
    color:$color-highlight;
    text-decoration:underline;
  }
}

.titled-area {
  @include clearfix; // prevents collapsing margins
  position:relative;
  padding-bottom:$height-title;
}

.title {
  position:absolute;
  left:0;
  right:0;
  bottom:0;
  font-size:1rem/16*14;
  color:$color-link;
  background-color:rgba(255,255,255,0.7);
  h2, p {
    margin:0;
  }
}

.image {
  margin:0 (-$margin-small); // fill full width
}

// Adaptations for work overview pages

.overview {
  ul {
    margin:0 -0.5*$margin-small (-$margin-small);
    padding:0; // remove <ul> padding
    list-style-type:none;
  }
  li {
    display:inline-block;
    vertical-align:top;
    margin:0 0.5*$margin-small $margin-small;
  }
  a {
    text-decoration:inherit;
    display:block;
  }
  p {
    margin:0;
  }
  img+p {
    padding-top:0.5rem;
  }
  .title {
    position:static;
    margin-bottom:$margin-small;
  }
}

// Adaptations for CV page

section.cv {
  ul {
    list-style-type:none;
    padding:0;
    margin: 0 0 1rem;
  }
  dl {
    @include clearfix;
    margin:0 0 1rem;
    max-width:25rem;
  }
  dt {
    float:left;
    clear:left;
    display:block;
    min-width:5.5rem;
    padding-right:0.5rem;
  }
  dd {
    margin-left:6rem;
  }
}

// Adaptations for contact page

section.contact {
  ul {
    @include clearfix;
    list-style-type:none;
    margin:0;
    padding:0;
    li {
      float:left;
      padding-right:0.2rem;
      &:after {
        content:",";
      }
    }
    &>li:last-child:after {
      content:"";
    }
  }
}


/* ==========================================================================
   Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

/* First level of adaptations
 * - increase page padding by a bit
 * - move images inside padding
 * - float main menu, if space allows
 */
@media only screen and (min-width: 30em) {
  body>header {
    margin-left:($margin-large - $padding-nav);
    margin-right:($margin-large - $padding-nav);
    h1 {
      min-width:$col1;
    }
    h1, nav {
      float:left;
    }
  }
  main {
    margin:0 $margin-large;
  }
  .titled-area {
    clear:left;
  }
  .image {
    margin:0; // no longer fill full width
  }
  .overview {
    ul {
      margin:0 -0.5*$margin-large (-$margin-large);
    }
    li {
      margin:0 0.5*$margin-large $margin-large;
    }
    .title {
      position:absolute;
      margin:0;
    }
  }
}

/* Second level of adaptations (full size)
 * - indent columns
 */
@media only screen and (min-width: 55em) {
  body>header {
    li:nth-child(1) {
      min-width:$col2;
    }
    li:nth-child(2) {
      min-width:$col3;
    }
  }
  .titled-area {
    padding:0 0 0 $col1;
  }
  .title {
    width:$col1 - 1rem;
  }
  main nav {
    margin-left:$col1;
  }
  section.cv {
    margin-left:$col1 + $col2;
  }
  section.contact {
    margin-left:$col1 + $col2 + $col3;
  }
}


/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
